body{
    margin: 0;
    padding: 0;
    background-color: rgb(27, 27, 28);
    color: rgb(146, 147, 167);
}
nav{
    width: 100% 0;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(9, 11, 10);
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
}

a, li{
    text-decoration: none;
    list-style-type: none;
    color: rgb(146, 147, 167);
}

.createform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
