{% extends 'base.html' %}

{% block content %}

    <h1>Home page</h1>


    {% if request.user.is_authenticated %}

        <h2>Hello {{ request.user.username }}</h2>
        <br>

        <form method="post">
            {% csrf_token %}
            <span>From</span>
            <input type="number" name="from">
            <span>to</span>
            <input type="number" name="to">
            <button type="submit">submit</button>
        </form>


        {% for course in courses %}
            <h3>{{ course.name }} - {{ course.price }}</h3>
        {% endfor %}
    {% else %}
     <h2>Hello! Login to your account.</h2>

    {% endif %}


{% endblock %}